html,
body {
  padding: 0;
  margin: 0;
  color:#fff;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-galaxy-background_52683-63441.jpg?w=2000');
    background-size: cover;
    background-attachment: fixed;
    
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

