.content {
    width: 100%;
    display: grid;
    height: 100%;
    display: flex
}

.aside, .asideInvisible {
    grid-area: aside;
    position: relative;
    top: 0;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #000;
    padding: 5px;
    background-color: rgba(4, 49, 88, 0.704);
    overflow-y: scroll;
    box-shadow: 0 0 10px #000;
    transition: 0.3s linear;

}



.aside::-webkit-scrollbar, .asideInvisible::-webkit-scrollbar {
    display: none;
}


.mediaChat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

.mediaChat .sticker {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.mediaChat .image {
    width: 100%;
    border-radius: 1px;
    height: auto;
}

.mediaChat audio {
    border-radius: none;
}

.msgyou .mediaChat audio::-webkit-media-controls-panel {
    background: #6e0cc0;
    border: 1px solid red
}

.msghe .mediaChat audio::-webkit-media-controls-panel {
    background: #fff;
    border-style: none;

}

.msgyou video, .msghe video {
    width: 100%;

}

.image {
    width: 60%;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.446);
    position: relative;
    min-height: 200px;
}

.image img {
    width: 100%;
    top: 0;
    position: absolute;
}

.section {
    text-align: center;

    background-color: rgba(6, 33, 64, 0.552);
    width: 100%;
    height: auto;

    min-height: 100vh;

}

.message {
    display: flex;
    background-color: #fff;
    color: #000;
    width: 100%;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.2s linear;
    position: relative;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

}
.tinyMessage{
    width: 100%;
}
.messageTiny .perfil{
    width: 80px;
    margin: auto;
    margin-top: 10px;
  
}
.messageTiny .perfil img{
transition: 0.4s linear;
   
}
.messageTiny:hover .perfil img{
    transform: scale(1.1);
    filter: opacity(0.6)
}
.message:hover {
    background: aquamarine;
    cursor: pointer;
}

.message:active {
    background-color: blue;
}

.titleChat {
    font-weight: bold;
}

.message h4, .message p {
    margin: 0;
    text-align: left;
    word-wrap: break-word;
}

.messagesList {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.perfil {
    position: relative;
    width: 20%;
    height: 100%;
    top: 0;

}

.perfil img {
    width: 100%;
    border-radius: 100%;
}

img.member {
    position: absolute;
    width: 30px;
    left: 0;
    bottom: 0;
    border: 2px solid rgb(0, 102, 255);

}

.numberMsgs {
    position: absolute;
    color: #fff;
    background-color: red;
    font-size: 14px;
    min-width: 30px;
    height: 30px;
    top: 0;
    text-align: center;
    border-radius: 100%;
    display: block;
    padding: 5px;
}

.msgs {
    text-align: left;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(6, 0, 34, 0.864);
    width: 100%;
}

.titleContainer img {
    width: 60px;
    border-radius: 100%;
}

.titleContainer h1 {
    width: 80%;
}

.msgs .chating {
    background: rgba(0, 0, 0, 0.623);
    width: 100%;
    margin: auto;
    height: 100%;
    position: relative;
    overflow-y: scroll;

}

.msgs .txt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
}

.txt textarea {
    height: 40px;
    width: 70%;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    resize: none;

}

.sender, .anex {
    width: 10%;
    background: rgba(24, 6, 126, 0.459);
    color: #fff;
    height: 80%;
    border: none;
    border-radius: 10px;
    transition: 0.5s linear;
    position: relative;
}

.anex input[type="file"] {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    height: 100%;
    filter: opacity(0);
}

.anex img, .sender img {
    filter: invert(100%);

}

.anex:hover, .sender:hover, .anex input[type="file"] {
    background: aqua;
    cursor: pointer
}

.msghe, .msgyou {
    width: 40%;
    margin: 10px;
    border-radius: 5px;
    color: #000;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    display: flex;
    min-height: 50px;
    flex-direction: column;


}

.msghe p, .msgyou p {
    margin: 5px;
    max-width: 100%;
}

.msghe a, .msgyou a {
    color: aqua;
}

.warking {
    margin: 5px;
    max-width: 100%;
    font-style: italic;
}

.warking::before, .warkingUser p::before {
    content: 'ⓘ '
}

.warkingSpan {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 255, 251);
    display: block;
    left: 0;
    color: #fff;
    height: 100%;
    animation: pisca-pisca 0.5s infinite;

}

.quoted {
    width: 80%;
    border: 1px solid aqua;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 255, 0.266);

}

.msgyou {
    background: rgba(147, 16, 255, 0.74);
    color: #fff;
    left: 55%;
}

.msgyou button.reply {
    position: absolute;
    top: 0;
    left: -50px;
}

.msghe button.reply {
    position: absolute;
    top: 0;
    right: -50px;
}

.reply {
    border: none;
    background-color: rgba(255, 255, 255, 0.22);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    transition: 0.2s linear;
    opacity: 0;
}

.reply:hover {
    opacity: 1;
    cursor: pointer;
}

.rotate {
    animation: rotateAnimation 1s infinite;
}

.float {
    animation: floatAnimation 2s infinite;
}

@keyframes rotateAnimation {
    0% {
        rotate: 0deg;
    }


    100% {
        rotate: 360deg;
    }
}

@keyframes floatAnimation {


    0% {

        top: 0
    }

    50% {

        top: 50px;
    }

    100% {
        top: 0;
    }
}

.login {
    display: grid;
    grid-template-columns: 100%;


}

.login input {
    width: 40%;
    margin: auto;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
}

.login button {
    width: 30%;
    margin: auto;
    height: 40px;
    font-size: 18px;
}

.menubtn {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.157);
    color: #fff;
}

.closeBarButton {
    position: absolute;
    top: 0;
    left: 35px;
    font-size: 24px;
    color: #fff;
    background-color: #ffffff00;
    border-radius: 100%;
    transition: 0.5s linear;

}

.openBarButton {
    color: #fff;
    background-color: #ffffff00;
    border-radius: 10px;
    transition: 0.5s linear;
    width: 100%;
    margin-bottom: 10px;
}

.openBarButton:hover, .closeBarButton:hover {
    background-color: rgb(119, 1, 173);
    cursor: pointer
}

.menubtn:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
}

.menubarr {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.661);
    width: 100%;
    z-index: 1;
    height: 100%;

}

.menubarr button {
    background-color: red;
    color: #fff;
}

.barrComands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barrComands button, .barrComands a {
    font-size: 18px;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    background-color: #6e0cc0;
}

.barrComands a {
    text-align: center;
}

.popup {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.661);
    width: 100vw;
    z-index: 100000 !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup div {
    width: 50%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.461);
    border-radius: 10px;
    border: 1px aqua solid;

    padding: 5px;
    position: relative;
}

.popup div input[type='number'] {
    height: 30px;
    width: 50%;
}

.popup div textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 100px;
}

.popup div button {
    width: 20%;
    height: 40px;
    margin: auto;

}

.popup div select {
    height: 26px;
    font-size: 16px;
    border: none;

}

button.closebtn {
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 24px;
    border-radius: 100%;
    z-index: 300000000000000;
}

.tela {
    position: relative;
    width: 100%;
}

.warkingUser {
    background-color: blue;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.asideInvisible {
    width: 10%;

}

.asideInvisible .image {
    width: 100%;
    min-height: 100px;
}

.asideInvisible .image img {
    width: 100%;

}

@keyframes pisca-pisca {
    0% {
        filter: opacity(0);
    }

    50% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}